
body{
    font-family: tahoma,arial, sans-serif;
    margin:0;
    padding: 0;
}
.principal{
    width: 64em;
    margin:1.2em auto;
}
.top-header{
    height: 3.1em;
    background: #162028;
    position: relative;
}
.logo{
    margin: .3em 0 0 8.4em ;
}
.header-nav{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin:0 1em 0 0;
    padding: .8em;
    transition: color .3s linear;
}
.header-nav a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .3em;
}
.header-nav a:hover{
    color: white;
}
.portifolio{
    padding: 3.1em 6.2em;
    text-align: center;
}
.portifolio h1{
    font-size: 2.2em;
    color: #252525;
}
.portifolio p{
    font-size: 1em;
    line-height: 2;
    color: #555;
}
.gallery{
    color:#555;
    padding: 0 6.2em 3.1em 6.2em ;
    overflow: auto;
}
.gallery-card {
   width: 32%;
   float: left; 
   text-align: center;
}
.gallery-title{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.2em;
    font-weight: bold;
}
.about{
    background-color: #003d52;
    padding: 3.1em;
    color:white;
    background-image: url("../imagens/bg_detalhe.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.about p{
    line-height: 1.5;
    width: 70%;
}
.about h2{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: normal;
}
#contact{
    margin: 3em 0;
}
#contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}
.maps{
    height: 30em;
    margin-top: 1em;
}
.maps iframe{
    width: 100%;
}
.footer{
    background: #0b171f;
    padding: 1.5em;
    font-size: .8em;
    color: #8f8597;
    text-align: center;
    letter-spacing: .2em;

}